footer.footer 
  .container 
    .footer__inner 
      .footer__col
        a.footer__logo(href="./index.html")
          img(src="./img/logo--white.svg", alt="logo") 
        a.footer__police(href="#") Политика конфиденциальности
      .footer__col.footer__col--copy 
        .footer__copy © Крабл, 2022
        .footer__text Копирование материалов только со ссылкой на источник
      .footer__wrapper 
        ul.footer__social
          li.footer__item
            a.footer__link(href="#" style="background-image:url(./img/footer-icon-1.svg); background-position: 10px center;") 
          li.footer__item
            a.footer__link(href="#" style="background-image:url(./img/footer-icon-2.svg)")
        .footer__col
          .footer__text ИП Реснянский Дмитрий Николаевич
          .footer__text ОГРН 316631300192817


    