header.header
  .container 
    .header__inner
      button.header__burger
        .line
      a.header__logo(href="./index.html")
        img(src="img/logo.svg", alt="logo")
      nav.header__nav 
        ul 
          li 
            a(href="#") О нас
          li 
            a(href="#") Проекты
          li 
            a(href="#") Услуги
          li.max-1200
            a(href="#") База знаний
        a.header__login.max-650(href="#") Вход
        .header__social.max-768.max-768--flex
          a(href="#" style="background-image:url(./img/telegram.svg)") 
          a(href="#" style="background-image:url(./img/skype.svg)") 
      form.header__search
        button.header__btn(type="submit") 
        input(type="text" placeholder="Поиск")
        ul.header__options
          li.option Стартапы в автомобильной отрасли
          li.option Идеи стартапов
          li.option Старт мобильного приложения
          li.option Как заработать на стартапе

      a.header__knowledgebase(href="#") База знаний
      a.header__login(href="#") Вход
      .header__social
        a(href="#" style="background-image:url(./img/telegram.svg)") 
        a(href="#" style="background-image:url(./img/skype.svg)") 