.sidebar
  .sidebar__top 
    button.sidebar__burger
      .line 
    ul.sidebar__menu.max-768.max-768--flex
      li
        a(href="#") Блог
      li
        a(href="#") стартапы
      li
        a(href="#") идеи

  .sidebar__categories 
    a.sidebar__category Блог
    ul.sidebar__list
      li.sidebar__item.active
        a.sidebar__link(href="#") Проекты
      li.sidebar__item
        a.sidebar__link(href="#") Услуги
      li.sidebar__item
        a.sidebar__link(href="#") О нас
      li.sidebar__item
        a.sidebar__link(href="#") О разработке
    a.sidebar__category стартапы
    ul.sidebar__list
      li.sidebar__item
        a.sidebar__link(href="#") Облачные виджеты
      li.sidebar__item
        a.sidebar__link(href="#") Аренда недвижимости
      li.sidebar__item
        a.sidebar__link(href="#") Маркетплейс
    a.sidebar__category идеи
    ul.sidebar__list
      li.sidebar__item
        a.sidebar__link(href="#") Автобизнес
      li.sidebar__item
        a.sidebar__link(href="#") Общепит
      li.sidebar__item
        a.sidebar__link(href="#") Медицина
      li.sidebar__item
        a.sidebar__link(href="#") Недвижимость
      li.sidebar__item
        a.sidebar__link(href="#") Финансы
