include base/_head
    include blocks/_header
    main.main
        // blocks here
        section.preview 
            .container 
                p.preview__subtitle Запуск IT стартапов
                h1.preview__title Проектируем удобные сервисы 
                    span для бизнеса
                .preview__wrapper
                    a.preview__link.btn(href="#") Консалтинг
                    a.preview__link.btn(href="#") Разработка и поддержка проектов
                    a.preview__link.btn(href="#") Стартапы
        
        section.projects 
            .container 
                h3.section-title Проекты
                .projects__slider 
                    .swiper-wrapper 
                        .projects__slide 
                            a.projects__item.projects__item--dark(href="#") 
                                .projects__img(style="background-image:url(https://images.unsplash.com/photo-1652014730275-1997f535bfa3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)") 
                                .projects__desc 
                                    p Текст описание в две строки. 
                                    p Сама карточка- ссылка
                        .projects__slide 
                            a.projects__item.projects__item--dark(href="#")
                                .projects__img.empty 
                                .projects__desc 
                                    p Стиль 2, когда фон темный. 
                                    p Сама карточка- ссылка
                        .projects__slide 
                            a.projects__item(href="#")
                                .projects__img.empty 
                                .projects__desc 
                                    p Текст описание в две строки. 
                                    p Сама карточка- ссылка
                        .projects__slide
                            a.projects__item.projects__item--dark(href="#") 
                                .projects__img(style="background-image:url(https://images.unsplash.com/photo-1652014730275-1997f535bfa3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)") 
                                .projects__desc 
                                    p Текст описание в две строки. 
                                    p Сама карточка- ссылка
                        .projects__slide 
                            a.projects__item.projects__item--dark(href="#")
                                .projects__img.empty 
                                .projects__desc 
                                    p Стиль 2, когда фон темный. 
                                    p Сама карточка- ссылка
                        .projects__slide 
                            a.projects__item(href="#")
                                .projects__img.empty 
                                .projects__desc 
                                    p Текст описание в две строки. 
                                    p Сама карточка- ссылка
                    .projects__pagination
                    .slider__arrow.slider__arrow--prev
                    .slider__arrow.slider__arrow--next

                a.projects__more.btn(href="#") Смотреть все работы

        section.knowledge  
            .container 
                h3.section-title Делимся знаниями
                .knowledge__slider 
                    .swiper-wrapper
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img(style="background-image:url(https://images.unsplash.com/photo-1652031020082-09b0c584e721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1595&q=80)")
                                .knowledge__desc Сколько стоит запустить IT стартап: деньги и время на разработку
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img
                                .knowledge__desc От идеи до реализации: этапы разработки проекта
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img(style="background-image:url(https://images.unsplash.com/photo-1652031020082-09b0c584e721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1595&q=80)")
                                .knowledge__desc Идеи IT стартапов
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img
                                .knowledge__desc Что стоит учесть при долгосрочной работе  с разработчиками
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img(style="background-image:url(https://images.unsplash.com/photo-1652031020082-09b0c584e721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1595&q=80)")
                                .knowledge__desc Сколько стоит запустить IT стартап: деньги и время на разработку
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img
                                .knowledge__desc От идеи до реализации: этапы разработки проекта
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img(style="background-image:url(https://images.unsplash.com/photo-1652031020082-09b0c584e721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1595&q=80)")
                                .knowledge__desc Идеи IT стартапов
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0
                        .knowledge__slide
                            a.knowledge__item(href="#")
                                .knowledge__img
                                .knowledge__desc Что стоит учесть при долгосрочной работе  с разработчиками
                                .knowledge__wrapper
                                    .knowledge__date 13.03.2022
                                    .knowledge__comments 5
                                    .knowledge__likes 0

                    .slider__arrow.slider__arrow--prev
                    .slider__arrow.slider__arrow--next 
                a.knowledge__more.btn(href="#") Читать все статьи
    
        section.examples 
            .examples__item.examples__item--light.examples__item--left
                .examples__wrapper
                    .examples__img
                        img(src="./img/examples-1.png", alt="example of our work")
                    .examples__info 
                        img.examples__type(src="./img/examples-type-1.svg" alt="type of work")
                        h2.examples__title Берем на себя разработку стартапа, 
                            span а вы делитесь с нами доходами будущей компании
                        p.examples__desc Если у вас есть идея стартапа и средства на дальнейшее развитие проекта - напишите нам. Мы можем выступить в качестве технического партнёра и CTO
                        a.examples__btn.btn(href="#") Подробнее
            .examples__item.examples__item--violent.examples__item--right
                .examples__wrapper(style="transform: translateX(-95px)")
                    .examples__img
                        img(src="./img/examples-2.png", alt="example of our work")
                    .examples__info 
                        img.examples__type(src="./img/examples-type-2.svg" alt="type of work")
                        h2.examples__title Станьте инвестором наших 
                            span перспективных и уже работающих 
                            | проектов
                        p.examples__desc Вы можете проинвестировать наши проекты на индивидуальных условиях
                        a.examples__btn.btn.btn--white(href="#") Подробнее

        section.services
            .container 
                h3.section-title Наши услуги
                ul.services__inner
                    li.services__item 
                        img.services__icon(src="./img/services-icon-1.svg", alt="services icon")
                        .services__title.services__title--lg Консультирование по запуску
                        p.services__text Подбор оптимального решения задачи Понимание объёма работ и затрат Техническое задание для разработчиков.
                        a.services__link(href="#") Подробнее 
                    li.services__item 
                        img.services__icon(src="./img/services-icon-2.svg", alt="services icon")
                        .services__title.services__title--lg Создание пилотного продукта
                        p.services__text Разработаем MVP (минимально рабочий продукт) для вашего проекта в короткие сроки.
                        a.services__link(href="#") Подробнее 
                    li.services__item.services__item--br
                        img.services__icon(src="./img/services-icon-3.svg", alt="services icon")
                        .services__title.services__title--lg Разработка и поддержка проекта
                        p.services__text Долгосрочное сотрудничество, разработка и развитие проекта, техподдержка, решение проблем
                        a.services__link(href="#") Подробнее 
                    li.services__item.services__item--bb
                        img.services__icon(src="./img/services-icon-4.svg", alt="services icon")
                        .services__title Подрядные работы для веб-проектов
                        p.services__text Создадим подробную структуру будущего проекта. Изучим отрасль, аудиторию,  решения на рынке. Разработаем визуальное оформление, напишем тексты, сверстаем.
                        ul.services__list
                            li Прототипирование 
                            li Дизайн
                            li Копирайтинг
                            li Вёрстка
                        a.services__link(href="#") Подробнее 
                    li.services__wrapper
                        .services__item
                            img.services__icon(src="./img/services-icon-3.svg", alt="services icon")
                            .services__title Аудит кода текущего проекта
                            p.services__text Определение степени готовности проекта, качества работ. Выявление проблем.
                            a.services__link(href="#") Подробнее 
                        .services__item.services__item--bb
                            img.services__icon(src="./img/services-icon-6.svg", alt="services icon")
                            .services__title Поиск специалистов
                            p.services__text Поиск специалистов для ваших IT задач. Оценка компетенций.
                            a.services__link(href="#") Подробнее 

                    li.services__item.services__item--br.services__item--bb
                        img.services__icon(src="./img/services-icon-5.svg", alt="services icon")
                        .services__title Юридические аспекты для IT решений
                        p.services__text Пользовательские соглашения. Актуальное законодательство. Отказ от обязательств.
                        a.services__link(href="#") Подробнее  

                a.services__more.btn(href="#") Задать вопрос

        section.about 
            .container 
                h3.section-title О компании
                
                .about__inner
                    .about__item 
                        ul.about__photos 
                            li 
                                img(src="./img/about-1.jpg", alt="our team member")
                            li 
                                img(src="./img/about-2.jpg", alt="our team member")
                            li 
                                img(src="./img/about-3.jpg", alt="our team member")
                            li 
                                img(src="./img/about-1.jpg", alt="our team member")
                            li 
                                img(src="./img/about-2.jpg", alt="our team member") 

                        h4.about__title Наша команда
                        .about__slogan Мы — команда независимых специалистов. 
                        p.about__text Основной состав - 10 человек: программисты, мобильные разработчики, дизайнеры, сео. Профессиональный стаж от 8 лет. Опыт участников накапливался в разных организациях, на разных проектах. Последние 6 лет мы успешно работаем в команде. Все участники высокоответственные, так как работают сами на себя.
                    .about__item.about__item--no-img
                        h4.about__title Что можем
                        .about__slogan Командная работа в различных областях:
                        ul.about__list 
                            li 
                                a(href="#") Проектирование программных интерфейсов и клиентских приложений
                            li 
                                a(href="#") Проектирование баз данных
                            li 
                                a(href="#") Разработка серверных API 
                            li 
                                a(href="#") Проектирование архитектуры приложений
                            li 
                                a(href="#") Воплощение программной реализации
                            li 
                                a(href="#") Написание документации
                            li 
                                a(href="#") Работа с контролем версий

                a.about__more.btn(href="#") Подробнее
        include ./blocks/_contacts

    include blocks/_footer
    script(src="js/app.min.js") 